In [1]:
import pandas as pd
"""
# To skip rows form the top
df = pd.read_csv("data/stock_data.csv", skiprows = 1) # Will skip 1 row from the top

# Another way
df = pd.read_csv("data/stock_data.csv", header = 1) # Meaning header is located at 1st row

# In case of no header
df = pd.read_csv("data/stock_data.csv", header = None) # Automatically generate headers

# Custome header names
df = pd.read_csv("data/stock_data.csv", header = None, names = ["tickers", "eps", "revenue", "price", "people"])
"""
df = pd.read_csv("data/stock_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [6]:
"""
# To read only few rows -
df = pd.read_csv("file_name.csv", nrows=3) # Will read only 3 rows

# To categorize some values as NaN
df = pd.read_csv("file_name.csv", na_values=["not available", "n.a."])

# Another approach
df = pd.read_csv("file_name.csv", na_values={
    "revenue": ["not available", "n.a."],
    "eps": =["not available", "n.a.", -1]
})
"""

'\n# To read only few rows -\ndf = pd.read_csv("file_name.csv", nrows=3) # Will read only 3 rows\n\n# To categorize some values as NaN\ndf = pd.read_csv("file_name.csv", na_values=["not available", "n.a."])\n\n# Another approach\ndf = pd.read_csv("file_name.csv", na_values={\n    "revenue": ["not available", "n.a."],\n    "eps": =["not available", "n.a.", -1]\n})\n'

### Writing back to csv

In [2]:
df = pd.read_csv("data/stock_data.csv", na_values={
    "revenue": ["not available", "n.a."],
    "eps": ["not available", "n.a.", -1],
    "price": ["not available", "n.a."],
    "people": ["not available", "n.a."]
})
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT    NaN       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [3]:
df.to_csv("data/new.csv")

In [4]:
# To avoid writing the index
df.to_csv("data/new.csv", index=False)

In [5]:
"""
# to write only few columns
df.to_csv("file_name.csv", columns=["tickers", "eps"])

# To skip headers (header = False)
"""

'\n# to write only few columns\ndf.to_csv("file_name.csv", columns=["tickers", "eps"])\n'